  
  /* Form */
  input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .checkbox-input {
    padding: 20px 10px;
    margin: 21px 0
  }

  #saveparking {
    width: 100%;
    margin: 35px 0 20px 0;
    border: 1px solid;
    border-color:  rgb(169, 202, 230);
    color: #2196F3;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: inherit;   
  }
  
  #saveparking:hover {
    margin: 35px 0 20px 0;
    padding: 8px;
    background-color:  rgb(169, 202, 230);
    border-color:  rgb(169, 202, 230);
    color: #fff;
    width: 100%;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: inherit;
  }

  form {
    padding: 10px; 
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas: ". . . .";
  }

  .full-width {
    grid-column: 1 / 5;
    margin: 5px 0;
  } 

  label {
    padding: 10px 20px;
    margin: 8px
  }
